# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CUDATEST/.vs/CUDATEST/v14/.suo
CUDATEST/CUDATEST.VC.db
CUDATEST/.vs/CUDATEST/v14/.suo
CUDATEST/CUDATEST.VC.db
CUDATEST/CUDATEST/vc140.pdb
CUDATEST/CUDATEST/x64/Debug/CUDATEST.log
CUDATEST/CUDATEST/x64/Debug/CUDATEST.tlog/CUDATEST.lastbuildstate
CUDATEST/CUDATEST.VC.VC.opendb
